@use "../abstracts/variables" as var;

#artistHomePage {
  nav {
  }
  .widgets-container {
    background-color: var.$terciary-color;
    padding: 1rem;
    .artist-items-info {
      margin-bottom: 1rem;
      display: flex;
      justify-content: space-between;
      div {
        padding: 1rem;
        flex-basis: 48%;
        display: grid;
        place-items: center;
        height: 120px;
        background-color: var.$secondary-color;
        color: var.$primary-color;
        span {
          font-size: var.$font-size-bigger;
          font-weight: 500;
        }
        p {
          font-size: var.$font-size-large;
          font-weight: 300;
        }
      }
    }
    .auction-container {
      height: 120px;
      background-color: var.$fourth-color;
      color: var.$primary-color;
      display: grid;
      place-items: center;
      .auction-info-homepage {
        font-size: var.$font-size-large;
      }
    }
  }
  .chart {
    height: 400px;
    padding: 1rem;
    background-color: var.$primary-color;
    .chartControls {
      margin-bottom: 2rem;
      color: var.$secondary-color;
      p {
        font-size: var.$font-size-large;
      }
      .btn-div {
        display: flex;
        justify-content: space-between;
        button {
          background-color: var.$secondary-color;
          color: var.$terciary-color;
          width: 5rem;
          border: none;
          padding: 0.5rem 0;
        }
      }
    }
    .canvas-outter {
      position: relative;
      height: 43vh;
      #myChart {
        height: 100%;
      }
    }
  }
}
